<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    
    <!-- scope表示的是bean的作用域，有prototype、request、session、singleton四种。默认为单例模式singleton -->
    <!-- lazy-init表示的是bean的生命周期，默认为false。为true时会在bean产生时才实例化。 -->
    <!-- 
    	三种注入方式:
    	1.setter注入
    	2.构造器注入
    	3.注解注入
     -->
    <bean id="person" class="com.sxh.spring.testBean.Person">
        <property name="personName" value="Alice"/>
        <property name="personAge" value="10" />
    </bean>
    <bean id="family" class="com.sxh.spring.testBean.Family">
        <constructor-arg name="familyName" value="father"/>
        <constructor-arg name="person" ref="person"/>
    </bean>
    <bean id="singletonClass" class="com.sxh.spring.testBean.SingletonClass"
        init-method="init" destroy-method="destory" factory-method="getInstance">
    </bean>
</beans>